.git
logo_app.ai
/*.log
*.log
laravel-backend/storage/logs/laravel.log
laravel-backend/storage/framework/views/*
*.log
laravel-backend/storage/logs/laravel.log
laravel-backend/storage/logs/laravel.log
