.git
logo_app.ai
/laravel-backend/strorage/
/laravel-backend/storage/
/laravel-backend/.vscode
/storage/
/laravel-backend/bootstrap/cache/
/*.log
/laravel-backend/public/storage/
/laravel-backend/public/images/
